# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#classified
docker-compose.yml
config.yml
.env
docker-compose-production.yml

#virtual env
venv

#in progress
node-service
sentiment-microservice


#Reference
frontend-old
Backend-Copy
ecommerce-nextjs-fullstack-app
slices